@import url('://fonts.googleapis.com/css2?family=Klee+Onhttpse:wght@600&display=swap');
html {
    font-size: 10px;
    font-family: 'Klee One', cursive; /*字體*/
  }

body {
    background-image: url('./img/2.jpg'); /*背景圖片*/
    background-size: 100%;
    margin: 0 auto; /*頂部、左右側（auto自動均分）*/
    background-attachment: fixed ;
}

h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    text-shadow: 3px 3px 1px rgb(9, 0, 69); /*字體陰影（水平偏移、垂直偏移、模糊半徑、陰影基本色）*/
}

h2{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

h3{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

#accordion{
    font-family: 'Klee One', cursive;
    font-size: 20px;
    text-align: left;
    color: #000000;
}

.ui-accordion-content {
    border: 1px solid #aaaaaa;         /*邊框設為寬1px灰色的實線 ，可自行修改 */
    background: rgba(255, 255, 255, 0.8); /*底色 設定為淺藍色，不透明度60%*/
    color: #1b005a;                    /*文字的顏色*/
    text-shadow: none;
    text-align: center;
    height: fit-content;
}

.ui-accordion-header{
    border: 1px solid #ffffff;
    background: linear-gradient(rgba(50, 0, 112, 0.374), rgba(255, 255, 255, 0.8)); /*底色 設定為淺藍色，不透明度60%*/
    color: #e3e3e3;                    /*文字的顏色*/
    text-shadow: none;
}

.ui-accordion-content a {
    color: #08007d;
}

.ui-accordion-content a:hover {
    color: #72c2ff;
    text-decoration: none;
}

@keyframes roll { /*跑馬燈特效*/
	0% {
        transform: translateX(50%)
    }
    100% {
        transform: translateX(-100%)
    }
}
  
nav{
    background: rgba(255, 255, 255, 0.205);
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

a {
    color: #cae3ff;
	text-decoration: none;
	/* 超連結文字無底線裝飾效果 */
}

a:hover {
	color: #e3ceff;
	/* 超連結『滑鼠滑過』文字顏色設定 */
}

main{
    font-size: 22px;
    text-align: center;
    color: #ffffff;
}

footer{
    font-size: 16px;
    text-align: right;
    color: #ffffff;
    animation: roll 12s linear infinite;
}

img { /*圖片水平置中*/
    display: block;/*顯示模式：*/
    margin: auto; /*水平置中*/
    border-radius: 10px 10px 10px 10px;
	/* 圖片圓角：上：10px；右：0px；下：10px；左：0px */
	box-shadow: 10px 8px 10px #ffffff8c;
	/* 圖片陰影：X(上下位移)：1px；Y(左右位移)：1px； 模糊度 5px；色彩 #258CA6 */
  }